# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Lua files (e.g., LuaRocks style)
[*.lua]
indent_style = space
indent_size = 3

# Neovim config files specifically
[*.vim]
indent_style = space
indent_size = 2

[*.nvim]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
